<form [formGroup]="registerForm" (ngSubmit)="enviarUsuario()">
  <p-card header="Ingresar al sistema" [style]="{ width: '360px' }"> Nombre completo
    <div class="field">
      <input type="text" pInputText formControlName="fullname" placeholder="Nombre Completo" class="w-full" />
    </div>
    <small *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="block p-error">
      <div *ngIf="fullname.hasError('required')">
        Nombre completo
      </div>
    </small>
    <div class="field"> Correo electronico
      <input type="text" pInputText formControlName="email" placeholder="Ingresar E-mail" class="w-full" />
    </div>
    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
      <div *ngIf="email.hasError('required')">
        Ingresa un e-mail
      </div>
      <div *ngIf="email.hasError('email')">
        E-mail incorrecto
      </div>
    </small>
    <div class="field">Contraseña
      <p-password formControlName="password" [toggleMask]="true" styleClass="w-full"></p-password>
    </div>
    <div class="field"> Confirma tu contraseña
      <p-password formControlName="confirmPassword" [toggleMask]="true" styleClass="w-full"></p-password>
    </div>

    <small *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            " class="block p-error">
      <div *ngIf="confirmPassword.errors?.['required']">
        Confirma la contraseña
      </div>
    </small>
    <small class="block p-error"
      *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
      Las contraseñas deben coincidir
    </small>


    <p-button type="submit" label="Registrar" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>
    <div class="mt-2">
      ¿Tienes cuenta? <a routerLink="/login">Iniciar sesión</a>
    </div>
  </p-card>
</form>